language: bash

sudo: required

install:
  - sudo add-apt-repository -y ppa:avsm/ocaml42+opam12
  - sudo apt-get update -qq
  - sudo apt-get install -qq ocaml opam
  - export OPAMYES=1 && opam init && eval `opam config env`
  #- opam install bisect ounit
  - opam install js_of_ocaml tyxml deriving ppx_deriving reactiveData ocp-indent camomile

#script:
#  - make

script: bash .travis-ci.sh
